<div class="container mt-4">
  <h3>Thêm khóa học</h3>
  <form class="row g-3" method="POST" action="/courses/store">
    <div class="col-md-12">
      <label for="name" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="col-md-12">
      <label for="videoId" class="form-label">Video ID</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">Mô tả</label>
      <input type="text" class="form-control" id="description" name="description"/>
    </div>
    <div class="col-md-12">
      <label for="image" class="form-label">Hình ảnh</label>
      <input type="file" class="form-control" id="image" name="image"/>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
  </form>
</div>