<div class="mt-4 container">
  {{!-- GET: server to client --}}
  {{!-- POST: client to server --}}
  <form class="row g-3" method="POST" action="">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Tìm kiếm</label>
      <input type="text" name="q" class="form-control" id="inputEmail4" placeholder="Tìm kiếm"/>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </form>
</div>